<ScrollView backgroundColor="#e8e7e7">
    <FlexboxLayout flexDirection="column" class="owe-list" backgroundColor="#e8e7e7">
        <StackLayout style="height: 15"></StackLayout>
        <StackLayout id="item1" orientation="vertical" class="owe-list-item" width="100%">
            <GridLayout nsRouterLink="/contest" columns="auto, *, auto" rows="auto" width="100%" height="auto"
                class="owe-main-info" verticalAlignment="top">
                <Image row="0" col="0" src="~/Assets/south-africa.jpg" class="owe-category-icon"></Image>
                <StackLayout row="0" col="1" orientation="vertical" class="owe-info-container">
                    <GridLayout columns="auto" rows="auto" width="100%">
                        <Label text="3h 25m left" class="lender-name" class="time-information" row="0" col="0"></Label>
                    </GridLayout>
                </StackLayout>
                <Image row="0" col="2" src="~/Assets/australia.jpg" class="owe-category-icon"></Image>
            </GridLayout>
            <Label class="divider" text=""></Label>
        </StackLayout>
        <StackLayout id="item2" orientation="vertical" class="owe-list-item" width="100%">
            <GridLayout nsRouterLink="/contest" columns="auto, *, auto" rows="auto" width="100%" height="auto"
                class="owe-main-info" verticalAlignment="top">
                <Image row="0" col="0" src="~/Assets/england.jpg" class="owe-category-icon"></Image>
                <StackLayout row="0" col="1" orientation="vertical" class="owe-info-container">
                    <GridLayout columns="auto" rows="auto" width="100%">
                        <Label text="2d 5h 2m left" class="lender-name" class="time-information" row="0"
                            col="0"></Label>
                    </GridLayout>
                </StackLayout>
                <Image row="0" col="2" src="~/Assets/sri-lanka.jpg" class="owe-category-icon"></Image>
            </GridLayout>
            <Label class="divider" text=""></Label>
        </StackLayout>
        <StackLayout id="item3" orientation="vertical" class="owe-list-item" width="100%">
            <GridLayout nsRouterLink="/contest" columns="auto, *, auto" rows="auto" width="100%" height="auto"
                class="owe-main-info" verticalAlignment="top">
                <Image row="0" col="0" src="~/Assets/australia.jpg" class="owe-category-icon"></Image>
                <StackLayout row="0" col="1" orientation="vertical" class="owe-info-container">
                    <GridLayout columns="auto" rows="auto" width="100%">
                        <Label text="3d 25m left" class="lender-name" class="time-information" row="0" col="0"></Label>
                    </GridLayout>
                </StackLayout>
                <Image row="0" col="2" src="~/Assets/sri-lanka.jpg" class="owe-category-icon"></Image>
            </GridLayout>
            <Label class="divider" text=""></Label>
        </StackLayout>
        <StackLayout id="item4" orientation="vertical" class="owe-list-item" width="100%">
            <GridLayout nsRouterLink="/contest" columns="auto, *, auto" rows="auto" width="100%" height="auto"
                class="owe-main-info" verticalAlignment="top">
                <Image row="0" col="0" src="~/Assets/bangladesh.jpg" class="owe-category-icon"></Image>
                <StackLayout row="0" col="1" orientation="vertical" class="owe-info-container">
                    <GridLayout columns="auto" rows="auto" width="100%">
                        <Label text="1w 29m left" class="lender-name" class="time-information" row="0" col="0"></Label>
                    </GridLayout>
                </StackLayout>
                <Image row="0" col="2" src="~/Assets/south-africa.jpg" class="owe-category-icon"></Image>
            </GridLayout>
            <Label class="divider" text=""></Label>
        </StackLayout>
        <StackLayout id="item5" orientation="vertical" class="owe-list-item" width="100%">
            <GridLayout nsRouterLink="/contest" columns="auto, *, auto" rows="auto" width="100%" height="auto"
                class="owe-main-info" verticalAlignment="top">
                <Image row="0" col="0" src="~/Assets/australia.jpg" class="owe-category-icon"></Image>
                <StackLayout row="0" col="1" orientation="vertical" class="owe-info-container">
                    <GridLayout columns="auto" rows="auto" width="100%">
                        <Label text="2w 3h 25m left" class="lender-name" class="time-information" row="0"
                            col="0"></Label>
                    </GridLayout>
                </StackLayout>
                <Image row="0" col="2" src="~/Assets/bangladesh.jpg" class="owe-category-icon"></Image>
            </GridLayout>
            <Label class="divider" text=""></Label>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>